$paddingPrimary: 30px 150px 200px;
$paddingAccent: 19px 192px;
$paddingFooter: 133px 193px 0;
$paddingForm: 20px 158px 43px;

$colorPrimary: #ffffff;
$colorAccent: #649315;
$colorPseudo: #2b92ab;
$colorCard: #d3d3d3;
$colorBg: #000000;

$gradientForm: linear-gradient(to right, #679708 0%, #315fcc 100%);
