@use '../modules/styles-forwarded.scss' as forward;

.title {
  width: 500px;
  margin: 80px 0 60px;

  font-family: 'Source Sans Pro', sans-serif;
  font-size: 72px;
  font-weight: 700;
  line-height: 72px;

  & > span {
    display: inline-block;
    position: relative;

    &::after {
      @include forward.after('awesome');
    }
  }
}

.description {
  width: 550px;
  margin: 0 0 60px;

  font-family: 'Fresca', sans-serif;
  line-height: 24px;
  letter-spacing: 0.48px;
}
