.logo {
  color: inherit;
  text-decoration: none;

  & > img {
    margin: 0 15px 0 0;
  }

  & > p {
    text-align: center;

    font-family: 'Hind', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 33.6px;

    & > span {
      display: block;

      font-size: 10px;
      font-weight: 400;
      line-height: 10px;
      letter-spacing: 0.2px;
    }
  }
}
